li{
    margin-left: 3rem;
}
.navbar-brand{
    margin-left: 3rem;
}
.navbar-color{
    background-color: #388087;
    
}
.navbar{
    color: white;
}
.imag{
    /* height: 2rem; */
    width: 12rem;
}